<h1>This is the about page</h1>
<ul>
    {{#each quotes as |key val|}}
        <li>{{key}}</li>
    {{/each}}
</ul>
{{htmlTag}}
{{{htmlTag}}}

<ul>
    {{#each quotes as |key val|}}
        <li>{{this}}</li>
    {{/each}}
</ul>

{{#if youCare}}
    <h1>You care</h1>
    {{else}}
    <h1>You don't care</h1>
{{/if}}

{{#unless youCare}}
    <h1>You really don't care</h1>
{{/unless}}